$main-color: hsl(300, 43%, 22%);
$pink-color: hsl(333, 80%, 67%);
$grayish-color: hsl(303, 10%, 53%);
$light-Grayish-color: hsl(300, 24%, 96%);
$white-color: hsl(0, 0%, 100%);
$website-width: 1100px;
